<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Tune Hub : ADMIN HOME PAGE</title>
<link rel="stylesheet" th:href="@{/css/adminHome.css}">
</head>
<body>
<div>
<h1>Admin Home</h1>
<form>
<button><a href="newSong">Add a new Song</a></button>
<br></br>
<button><a href="viewSongs">View all songs</a></button>
<br></br>
<button><a href="createPlaylist">Create PlayList</a></button>
<br></br>
<button><a href="viewPlaylists">View all PlayLists</a></button>
</form>
</div>
</body>
</html>